In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("movies_metadata.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
data.shape

(45466, 24)

In [7]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [8]:
data.shape

(45466, 24)

In [9]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

## Adult

In [10]:
data.adult.values # data.column_name.values

array(['FALSE', 'FALSE', 'FALSE', ..., 'FALSE', 'FALSE', 'FALSE'],
      dtype=object)

In [11]:
#data.loc[1,'adult'] ## adult -> convert to boolean
data.adult.unique()

array(['FALSE', 'TRUE', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [12]:
data.adult.isin(['True','False'])

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: adult, Length: 45466, dtype: bool

In [13]:
data.loc[~data.adult.isin(['True','False']),:] # data.loc[ro_criteria,col_criter]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,11/17/2011,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,FALSE,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,8/1/2003,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,FALSE,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,10/21/1917,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,FALSE,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,6/9/2017,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [14]:
data.loc[~data.adult.isin(['False','True']),:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,11/17/2011,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,FALSE,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,8/1/2003,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,FALSE,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,10/21/1917,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,FALSE,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,6/9/2017,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [15]:
data.adult.unique()
data.adult.value_counts()


data = data.loc[data.adult.isin(['False','True']),:] # only choosing the rows where the adult column is either true or false
data.adult.unique()
#data.shape

array([], dtype=object)

In [17]:
data.adult.values[0]

IndexError: ignored

In [ ]:
data.adult = data.adult.map({'True':True,'False':False}) #convert from string to True/False

In [ ]:
data

In [ ]:
data.adult.isnull().sum()

# Belongs to Collection

In [ ]:
import numpy as np
data.belongs_to_collection.values[0]
# look at the row :
# if the row is a nan value - put the name of collection as "No collection"
# if the row is a non-nan value - convert the string into a dictionary and take the name value of the dictionary as name of the collection



```
`# This is formatted as code`
```

if the value is not nan, then convert string -> dictionary and get name value 
else if value is nan, append 0 to my ids

In [ ]:
import ast
ast.literal_eval("{1:2,2:3}")[1]

In [ ]:
import ast # package to convert string to dictionary
ast.literal_eval(data.belongs_to_collection.values[0])['name']

In [ ]:
a = np.nan
a == a

In [ ]:
2 == 2

In [ ]:
import numpy as np
np.nan == np.nan

In [ ]:
a = np.nan
a == a

In [ ]:
np.nan != np.nan

In [ ]:
{"a" : 2} != {"a" : 2}

In [ ]:
#"kousik" == "kousik"
a = np.nan
a == a
# if variable == variable returns a false, then it means the variable is a nan value

all elements : (check if that value is ) str -> dict -> id

In [ ]:
import ast
import numpy as np

collectionNames = [] #list to store collections names - list that is going to store the vleaned value
for i in data['belongs_to_collection'].values: #Iterating through the column
    if i == i: # check if it is nan 
      #not a nan value
      collectionNames.append(ast.literal_eval(i)['name'])
    else:
      # a nan value
      collectionNames.append("No Collection") #append -1
      continue

#collectionIds
data['collectionName'] = collectionNames
data = data.drop(columns = ['belongs_to_collection'])

In [ ]:
data

# Budget

In [ ]:
data.budget.values[0]

In [ ]:
data.budget = data.budget.astype('int64') # explicilty type casting
data.budget.describe() #summary stats

In [ ]:
sum(data.budget == 0)

In [ ]:
data.shape[0]

In [ ]:
sum(data.budget == 0)*100/data.shape[0]

1) Dont use budget
2) Try to look for some other dataset where these details are available
3) Bite the bullet and only do analysis with the rest of the data

In [ ]:
data

# Genres

In [ ]:
[1,2,3]

In [ ]:
data.genres.values[0] #pandas -> string, list of dictionaries

In [ ]:
ast.literal_eval(data.genres.values[0])

New Idea : Create a column for each genre - say 1 if the movie has the genre, else put 0

In [ ]:
# we are goig to looka t the data and find put all the genres that are there in my data
uniqueGenres = set([])

for i in data.genres: # I am looping through all the rows
  genList = ast.literal_eval(i) # convert from string to list of dict
  for j in genList: # loop through the list of dict
    uniqueGenres.add(j['name']) # add the name of the genre to my uniqueGenres variabe

In [ ]:
uniqueGenres

In [ ]:
[[1,0,0,1],[0,1,1,1],[],[]]

In [ ]:
rows = [[]]
genres = list(uniqueGenres) # all unique Genres

for i in data.genres: #looping through all the rows
  genList = ast.literal_eval(i) #converting from string to list
  movieGenres = [x['name'] for x in genList] # list of all the genres of the movie
  row = [] # store a list of 1s and 0s 
  for i in genres:
    row.append(int(i in movieGenres))
  rows.append(row)

In [ ]:
genre = pd.DataFrame(rows[1:],columns = genres)
genre

In [ ]:
data = pd.concat([data,genre], axis = 1) # joing the two dataframes
data.shape, genre.shape

In [ ]:
data.genres.unique()

In [ ]:
len(genres)

In [ ]:
data = data.drop(columns = ['genres'])

In [ ]:
data

## Home Page

In [ ]:
data.homepage.values[1]

In [ ]:
~data.homepage.isnull()

In [ ]:
data.homepage.isnull().sum()*100/data.shape[0]

In [ ]:
data['homePagePresent'] = (~data.homepage.isnull()) #fasle- if null in home page else true

In [ ]:
data = data.drop(columns = ['homepage'])

In [ ]:
data.homePagePresent = data.homePagePresent.map({True:1,False:0})

In [ ]:
data

# Id

In [ ]:
(data.shape[0] - len(data.id.unique())) #difference between movies and unique ids

In [ ]:
data = data.drop_duplicates(subset = 'id') # delete the rows which has all the columns the same
data.shape

In [ ]:
(data.shape[0] - len(data.id.unique()))

In [ ]:
data = data.dropna(subset = ['id'] )

In [ ]:
data.id = data.id.astype('int64')

In [ ]:
data.imdb_id.values[0]

In [ ]:
data.imdb_id.values[0]
(data.shape[0] - len(data.imdb_id.unique()))
data = data.drop_duplicates(subset = 'imdb_id')

# Original Language

In [ ]:
data.original_language.values[0]

In [ ]:
len(data.original_language.unique())
data.original_language.value_counts()
data.original_language.isnull().sum()
# #data.loc[data.original_language.isnull(),:]
data = data.dropna(subset = ['original_language'])

In [ ]:
data.columns

# Title

In [ ]:
data.title.isnull().sum(), len(data.title.unique())*100/data.shape[0]

In [ ]:
data.original_title.isnull().sum(), len(data.original_title.unique())*100/data.shape[0]

In [ ]:
data = data.drop(columns = ['title'])

In [ ]:
#data.original_title
"data science" == "Data  Science"

1) lower case upper case
2) remove unwanted spaces (data science, data  science)
3) checking spelling mistakes -> for places where there are a lot of chracters (textBlob)
4) handling special characters

In [ ]:
data.original_title = data['original_title'].str.lower() # brinf the text data to lowercase
data.original_title = data['original_title'].str.strip() # delete unwanted whtespaces

In [ ]:
data.original_title

# Overview

In [ ]:
data.overview.values[0]

In [ ]:
data.overview = data.overview.str.lower()
data.overview = data.overview.str.strip()
data.overview

In [ ]:
sum(data.overview.isnull())

In [ ]:
data.loc[data.overview.isnull(),'overview'] = 'no overview'

# Popularity

In [ ]:
data.popularity.values[0]

In [ ]:
data.popularity = data.popularity.astype('float64') ##floating point value
data.popularity.describe()

#Z-score
data['z_score_popularity'] = (data.popularity - data.popularity.mean())/data.popularity.std()
data['outliers'] = (data['z_score_popularity'] > 3) | (data['z_score_popularity'] < -3)

In [ ]:
#IQR
q3 = data.popularity.quantile(0.75)
q1 = data.popularity.quantile(0.25)
iqr = q3 - q1

In [ ]:
#thresholds
q3 + (1.5 * iqr)

In [ ]:
q1 - (1.5*iqr)

In [ ]:
##outlier detection - 1) domain knowledge 2) u need to handle them
data.popularity = data.popularity.clip(0,8.62) #.clip(lt,ut)
#data = data.loc[(data.popularity > 0) & (data.popularity <= 100),:]

In [ ]:
data.popularity.describe()

In [ ]:
sum(data.popuritlay.isnull())

In [ ]:
data = data.dropna(subset = ['popularity'])

In [ ]:
sum(data.popularity.isnull())

# Vote Count and Vote Average

In [ ]:
data.vote_count.values[0]

In [ ]:
sum(data.vote_count.isnull())

In [ ]:
data.vote_count.describe()
#data.vote_count.quantile(0.99)
# data.vote_count.isna().sum()
# data = data.dropna(subset = ['vote_count'])

In [ ]:
data.vote_average.values[0]

In [ ]:
data.vote_average.isnull().sum()

In [ ]:
data.vote_average.describe()

In [ ]:
data['score'] = (data.vote_average * data.vote_count)

# Poster Path

In [ ]:
data.poster_path.values[0] #null value, unique values, file exists in the path or not

In [ ]:
data.poster_path.isnull().sum()

In [ ]:
import os
os.path.isfile('/content/movies_metadata.csv')

In [ ]:
data = data.drop(columns = ['poster_path'])

# Production Companies

In [ ]:
data.production_companies.values[0]

In [ ]:
data.production_companies.isnull().sum()

In [ ]:
data.production_companies.values[0]

In [ ]:
#Code for extracting Producer 1
import ast
index = 0
prod1 = [] #empty list which is going to store producer 1's name

for prod in data.production_companies.values: # looping through all rows
  prodList = ast.literal_eval(prod) #string -> list of dicts
  if len(prodList) > index:  # if they have atleast 1 producer
    prod1.append(prodList[index]['name']) #note the name of producer
  else:
    prod1.append('No Producer') #put them as no producer

data['Producer1'] = prod1

In [ ]:
# Code for extracting producer 2
import ast
index = 1
prod2 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(prodList) > index:
    prod2.append(prodList[index]['name'])
  else:
    prod2.append('No Producer')

data['Producer2'] = prod2

In [ ]:
data = data.drop(columns = ['production_companies'])

In [ ]:
data['Producer1'] = data['Producer1'].str.lower()
data['Producer2'] = data['Producer2'].str.lower()
data['Producer1'] = data['Producer1'].str.strip()
data['Producer2'] = data['Producer2'].str.strip()

In [ ]:
data

# Release Dates

In [ ]:
data.release_date.values[0]

In [ ]:
data.release_date.isnull().sum()

In [ ]:
data.release_date

In [ ]:
data = data.dropna(subset = ['release_date'])

In [ ]:
import datetime
dateString = '2022/March/24::19:05:00'
date = datetime.datetime.strptime(dateString, "%Y/%B/%d::%H:%M:%S") #string to datetime
datetime.datetime.strftime((date + datetime.timedelta(days = 2, hours = 2)),"%d-%b-%y-%H:%M:%S")
#date
#date + datetime.timedelta(days=15)
date.isocalendar()[1]

In [ ]:
data.release_date = pd.to_datetime(data.release_date, format='%Y-%m-%d')

In [ ]:
data.release_date

In [ ]:
import datetime
dateString = '10-10-2021'
date = datetime.datetime.strptime(dateString, "%d-%m-%Y") #string to datetime
date + datetime.timedelta(days = 15)
#date.strftime("%d-%B-%y") #datetime -> string

# Revenues

In [ ]:
data.revenue.values[0]

In [ ]:
data.revenue = data.revenue.astype('int64')

In [ ]:
data.revenue.describe()

In [ ]:
sum(data.revenue == 0)*100/data.shape[0]

# RunTime

In [ ]:
data.runtime.values[0]

In [ ]:
data.runtime.describe()

In [ ]:
sum(data.runtime == 0)

In [ ]:
data.loc[data.runtime == 0,'runtime']  = 95

In [ ]:
sum(data.runtime > 300)

In [ ]:
data.loc[data.runtime > 300, :]

In [ ]:
data.runtime.isnull().sum()

In [ ]:
data.runtime = data.runtime.fillna(data.runtime.median())

In [ ]:
data.runtime.isnull().sum()

# Spoken Languages

In [ ]:
data.spoken_languages.values[0]

In [ ]:
import ast
totalLanguages = []

for prod in data.spoken_languages.values: # looping through all the rows
  prodList = ast.literal_eval(prod) #converting from string to list of dictionary 
  totalLanguages.append(len(prodList)) #how many languages spoken?

data['TotalLanguages'] = totalLanguages

In [ ]:
data = data.drop(columns = ['spoken_languages'])

In [ ]:
data

# Status

In [ ]:
data.status.values[0]

In [ ]:
data.status.value_counts()

In [ ]:
data.columns

# Others

In [ ]:
data = data.drop(columns = ['production_countries'])

In [ ]:
data = data.drop(columns = ['video','tagline'])

# Final Data

In [ ]:
data = data.dropna()

In [ ]:
data.shape

In [ ]:
dataBudgetRevenue  = data.loc[(data.budget != 0) & (data.revenue != 0),:]
dataBudgetRevenue.shape

In [ ]:
# dataBudgetRevenue.to_csv('finalCleanedData.csv')
# dataBudgetRevenue.columns
dataBudgetRevenue['profit'] = (dataBudgetRevenue.revenue - dataBudgetRevenue.budget)/dataBudgetRevenue.budget
#dataBudgetRevenue['profit%'].describe()
dataBudgetRevenue['profit'] = dataBudgetRevenue['profit'].clip(-1,50)

In [ ]:
dataBudgetRevenue.to_csv('finalCleanedData.csv')

1. Profit = (Revenue - Budget)/Budget
2. Do the movies that have high vote_avergae make lot of profits ? 
3. What genres make the most money?
4. Which producers generally do well? 
5. Is there a bias with producers in terms of genres that they do - Do specific producer only produce specific genre movies?
6. Will a longer run time bring higher profits?
7. Does the presence of a homepage indicate higher profits
8. Which languages rakes in high profit
9. Over a period of time, how have the profitability changed - Over the period of time, which genre of movies have grossed well ? 
10. If the movie speaks multiple languages, is the profit % higher?

In [ ]:
averageProfitForBin = [dataBudgetRevenue.loc[(dataBudgetRevenue.vote_average < (i)) & (dataBudgetRevenue.vote_average > (i-1)),'profit'].median() for i in range(1,11)]

In [ ]:
averageProfitForBin

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x = [1,2,3,4,5,6,7,8,9,10], y = averageProfitForBin)
plt.xlabel('Vote Average')
plt.ylabel('Average Profit')
plt.title('Vote vs Profit')

In [ ]:
dataBudgetRevenue.profit